[submodule "configuration/powerline-fonts"]
	path = configuration/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "configuration/git-flow-completion"]
	path = configuration/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "configuration/powerline-consolas"]
	path = configuration/powerline-consolas
	url = https://github.com/nicolalamacchia/powerline-consolas.git
[submodule "configuration/tmux-colors-solarized"]
	path = configuration/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "configuration/_tmux/plugins/tpm"]
	path = configuration/_tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
