[user]
	email = b.silva@live.com
	name = Bruno Silva

[include]
    path = .gitconfig.d/aliases.gitconfig
    path = .gitconfig.d/colors.gitconfig

;[init]
    ;templateDir = ~/.gitconfig.d/template

[apply]
    # Detect whitespace errors when applying a patch
    ;whitespace = error
    whitespace = fix

[core]
    # Use custom `.gitignore` and `.gitattributes`
    excludesfile = ~/.gitignore
    ;attributesfile = ~/.gitattributes
    # Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
    whitespace = space-before-tab,indent-with-non-tab,trailing-space
    autocrlf = false
    fileMode = false
    editor = vi -u NONE

[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true
    # By default, git does not create an extra merge commit when merging a commit that is a
    # descendant of the current commit. Instead, the tip of the current branch is
    # fast-forwarded. When set to false, this variable tells git to create an extra merge commit
    # in such a case (equivalent to giving the --no-ff option from the command line). When set
    # to only, only such fast-forward merges are allowed (equivalent to giving the --ff-only
    # option from the command line).
    ff = true
    tool = vimdiff

# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
    remote = origin
    merge = refs/heads/master

# Use `origin` as the default remote on the `develop` branch in all cases
[branch "develop"]
    remote = origin
    merge = refs/heads/develop

# URL shorthands
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"

[gui]
    encoding = utf-8

[push]
    default = current

[status]
    submoduleSummary = false
